*.egg-info/
*.log
*.sqlite
*.sqlite3
.DS_Store
.coverage
.env
.env.local
.node_modules/
.pytest_cache/
/logs/
/uploads/
__pycache__
__pycache__/
build/
dist
dist/
node_modules/
venv/
vite.config.ts.timestamp-**.db
